@import '../../styles/utils.scss';

.NemoBoard {
    width: fit-content;
    font-size: 1.1rem;
}
.NemoBoard_indexI {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .CountBlock {
        flex: 0 0 2rem;
        display: flex;

        span {
            margin: 0 0.3rem;
            display: flex;
            align-items: center;
        }
    }
}
.NemoBoard_indexJ {
    display: flex;
    align-items: flex-end;
    margin-left: 4.9rem;
    margin-bottom: 0.9rem;
    
    .CountBlock {
        flex: 0 0 2rem;
        display: flex;
        flex-direction: column;
    }
}

.NemoBoard_board {
    width: 32rem;
    display: flex;
    flex-wrap: wrap;
}